@import "style.less";
@import "ui.less";


html {
    height: 100%;    
}

body {
    height: 100%;
//    background: url(../img/big-avatar-bg.jpg) no-repeat center top;
//    background-size: cover;
}

.gradient-bg {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #62b4f3, #2c536f);
    background-size: 400% 400%;
    z-index: -10;

    -webkit-animation: AnimationName 11s ease infinite;
    -moz-animation: AnimationName 11s ease infinite;
    -o-animation: AnimationName 11s ease infinite;
    animation: AnimationName 11s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:50% 0%}
        50%{background-position:50% 100%}
        100%{background-position:50% 0%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:50% 0%}
        50%{background-position:50% 100%}
        100%{background-position:50% 0%}
    }
    @-o-keyframes AnimationName {
        0%{background-position:50% 0%}
        50%{background-position:50% 100%}
        100%{background-position:50% 0%}
    }
    @keyframes AnimationName { 
        0%{background-position:50% 0%}
        50%{background-position:50% 100%}
        100%{background-position:50% 0%}
    }
}

.photo-bg {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/big-avatar-bg.jpg) no-repeat center center;
    background-size: cover;
    z-index: -9;
    opacity: 0.1;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.left-box {
    display: inline-block;
    width: 50%;
    height: auto;
    
    img {
        display: block;
        width: 320px;
        height: 320px;
        margin: auto;
        border-radius: 321px;
        margin-top: 180px;
        margin-bottom: 60px;
        transition: all 0.5s;
    }
    
    .social-btn {
        display: block;
        width: 160px;
        height: 40px;
        margin: auto;
        margin-bottom: 15px;
        border: solid @white 1px;
        border-radius: 40px;
        background-color: transparent;
        padding-top: 8px;
        text-align: center;
        transition: all @hoverspead;
        .text-white
    }
    
    .social-btn:hover {
        background-color: @white;
        color: @lightblue;
    }
}

.right-box {
    display: inline-block;
    width: 50%;
    height: auto;
    float: right;
    padding: 220px 272px 0px 0px;
    
    .form-title {
        font-family: @fontFamily;
        font-size: @titleSize;
        font-weight: @titleWeight;
        color: @white;
    }
    
    form {
        display: block;
        position: inherit;
        
        .form-control {
            border-radius: 0;
            border: none;
            border-bottom: solid @white-rgba 1px;
            background-color: transparent;
            font-family: @fontFamily;
            font-size: @textSize;
            font-weight: @textWeight;
            color: @white;
            box-shadow: none;
            padding-left: 0;
            padding-top: 0px;
            margin-top: 24px;
        }
        
        .btn-send {
            border: none;
            float: right;
            display: block;
            width: 122px;
            height: 40px;
            margin: auto;
            margin-top: 80px;
            border: solid @white 1px;
            border-radius: 40px;
            background-color: transparent;
            padding-top: 2px;
            text-align: center;
            transition: all @hoverspead;
            .text-white
        }
        
        .btn-send:hover {
            background-color: @white;
            color: @lightblue;
        }
    }
}

.form-control::-webkit-input-placeholder { color: @white-rgba; }
.form-control:-moz-placeholder { color: @white-rgba; }
.form-control::-moz-placeholder { color: @white-rgba; }
.form-control:-ms-input-placeholder { color: @white-rgba; }


@media screen and (max-width: 1335px) {

    .gradient-bg {
        height: 1380px;
    }
    
    .right-box {
        display: block;
        width: 100%;
        padding-top: 120px;
        padding-right: @padding;
        padding-left: @padding;
    }
    
    .left-box {
        display: block;
        width: 100%;
        padding-top: 120px;
        
        img {
            margin-top: 0px;
        }
    }
}



@media screen and (max-width: 650px) {

    .header-container {

        .logo-box {
            width: auto;
            height: 80px;
            padding-left: @padding;

            .logo {
                display: inline-block;
            }

            .logo-text {
                display: none;
            }
        }
    }
}


@media screen and (max-width: 445px) {

    .header-container {

        .logo-box {
            display: none;
        }
    }
}























