body {
	background-color: rgb(237, 237, 237);
}

/*Icons on header*/

.icon-home {
	font-size: 25px;
	color: rgb(42, 42, 44);
	display: block;
	padding-bottom: 13px;
}

.icon-ui {
	font-size: 25px;
	color: rgb(42, 42, 44);
	display: block;
	padding-bottom: 13px;
}

.icon-web {
	font-size: 25px;
	color: rgb(42, 42, 44);
	display: block;
	padding-bottom: 13px;
}

.icon-frontend {
	font-size: 25px;
	color: rgb(42, 42, 44);
	display: block;	
	padding-bottom: 13px;
}

.icon-logo {
	font-size: 25px;
	color: rgb(42, 42, 44);
	display: block;
	padding-bottom: 13px;
}

.icon-other {
	font-size: 25px;
	color: rgb(42, 42, 44);
	display: block;
	padding-bottom: 13px;
}

.icon-contact {
	font-size: 25px;
	color: rgb(215, 53, 52);
	display: block;
	padding-bottom: 13px;
}


/*Forms*/

.form-group {
    margin-bottom: 20px;
}

.form-control {
	height: 40px;
}

.modal-footer {
    border-top: none;
    text-align: center;
}

.btn-send {
	border: none;
	border-radius: 2px;
	width: 120px;
	height: 40px;
	background-color: rgb(40, 151, 212);
	color: white;
}

.modal-backdrop.in {
    opacity: .75;
}

textarea.form-control {
    height: 100px;
}

.modal-content {
	background-color: rgba(255, 255, 255, 0.9);
}

.modal-open .wrapper {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);    
}

.form-container {
	width: 100%;
	height: 100%;
	text-align: center;
	display: block;
}

.form-title {
	padding-top: 188px;
	display: block;
	color: rgb(88, 89, 93);
	font-size: 26px;
	font-family: "Muller-Regular";
	margin: auto;
	padding-right: 30px;
	padding-left: 30px; 
}

form {
	padding-top: 50px;
	width: 600px;
	margin: auto;
}

@media screen and (max-width: 728px) {
	
	form {
		width: auto;
		margin-right: 30px;
		margin-left: 30px;
	}
}

/*Contact-Box*/

.contact-container {
	display: inline-block;
	text-align: center;
	width: 100%;
	height: auto;
	padding-top: 75px;
	margin-bottom: 75px;
}

.phone-container {
	display: inline-block;
	float: left;
	margin: 20px auto;
	width: 33.3333%;
	height: 50px;
}

.icon-phone {
	display: inline-block;
	font-size: 40px;
	margin: 5px 0px;
	color: rgb(88, 89, 93);
	float: left;
}

.phone-text {
	font-size: 20px;
	font-family: "Muller-Regular";
	color: rgb(88, 89, 93);
	display: inline-block;
    width: auto;
    height: 20px;
    margin: 10px 0px 10px 20px;
	float: left;
}

.phone-container:hover .phone-text {
	color: rgb(40, 151, 212);
}

.phone-container:hover .icon-phone {
	color: rgb(40, 151, 212);
}

.mail-container {
	display: inline-block;
	float: left;
	margin: 20px auto;
	width: 33.3333%;
	height: 50px;
}

.icon-mail {
	display: inline-block;
	font-size: 40px;
	margin: 5px 0px;
	color: rgb(88, 89, 93);
	float: left;
}

.mail-text {
	font-size: 20px;
	font-family: "Muller-Regular";
	color: rgb(88, 89, 93);
	display: inline-block;
    width: auto;
    height: 20px;
    margin: 10px 0px 10px 20px;
	float: left;
}

.mail-container:hover .mail-text {
	color: rgb(40, 151, 212);
}

.mail-container:hover .icon-mail {
	color: rgb(40, 151, 212);
}

.skype-container {
	display: inline-block;
	float: none;
	margin: 20px auto;
	width: 33.3333%;
	height: 50px;
}

.icon-skype {
	display: inline-block;
	font-size: 40px;
	margin: 5px 0px;
	color: rgb(88, 89, 93);
	float: left;
}

.skype-text {
	font-size: 20px;
	font-family: "Muller-Regular";
	color: rgb(88, 89, 93);
	display: inline-block;
    width: auto;
    height: 20px;
    margin: 10px 0px 10px 20px;
	float: left;
}

.skype-container:hover .skype-text {
	color: rgb(40, 151, 212);
}

.skype-container:hover .icon-skype {
	color: rgb(40, 151, 212);
}

.phone-box {
	display: inline-block;
	width: 238px;
	height: auto;
	text-align: center;
}

.mail-box {
	display: inline-block;
	width: 290px;
	height: auto;
	text-align: center;
}

.skype-box {
	display: inline-block;
	width: 171px;
	height: auto;
	text-align: center;
}
/*Footer*/

.footer-box {
	text-align: center;
	display: inline-block;
	width: 100%;
	height: 65px;
	position: fixed;
	bottom: 0;
}

.footer {
	width: 100%;
	height: 65px;
	padding: 0;
	margin: 0;
}

ul, li {
	padding: 0;
	display: inline-block;
}

.footer-tumblr {
	padding: 0;
	margin: 0;
	width: 25%;
	height: 100%;
	background-color: rgb(49, 77, 121);
	float: left;
}

.footer-facebook {
	padding: 0;
	margin: 0;
	width: 25%;
	height: 100%;
	background-color: rgb(40, 151, 212);
	
}

.footer-facebook2 {
	padding: 0;
	margin: 0;
	width: 25%;
	height: 100%;
	background-color: rgb(40, 151, 212);
	display: none;
}

.footer-linkedin {
	padding: 0;
	margin: 0;
	width: 25%;
	height: 100%;
	background-color: rgb(40, 151, 212);
	background-color: rgb(54, 99, 157);
	float: left;
	
}

.footer-instagram {
	padding: 0;
	margin: 0;
	width: 25%;
	height: 100%;
	background-color: rgb(191, 131, 95);
	float: right;
	
}

.social-box {
	display: block;
}

.social-icon {
	height: 65px;
	padding: 15px 0px;
}


a:focus {
	text-decoration: none;
	color: white;
}

a:active {
	text-decoration: none;
	color: white;
}

@media screen and (max-width: 1120px) {

	.my-portfolio-box {
		height: 100%;
		padding-bottom: 75px;
	}

	.portfolio-preview {
		display: none;
	}

	.portfolio-preview2 {
		display: block;
	}

	.portfolio-info {
		margin: 0;
		width: 100%;
		float: none;
		text-align: center;
	}

	.portfolio-title {
		float: none;
		text-align: center;
	}

	.porfolio-text {
		float: none;
		text-align: center;
   		padding: 0px 50px;
	}

	.open-portfolio-button {
		float: none;
	}


	/*Contact-Box*/

	.contact-container {
		padding-top: 50px;
		margin: 0px;
		padding-right: 30px;
		padding-left: 30px;
		padding-bottom: 125px;
	}
	
	.phone-container {
		display: block;
		text-align: center;
		float: none;
		margin: 15px auto;
		width: auto;
	}
	
	.mail-container {
		display: block;
		text-align: center;
		float: none;
		margin: 15px auto;
		width: auto;
	}
	
	.skype-container {
		display: block;
		text-align: center;
		margin: 15px auto;
		width: auto;
	}

	.phone-box {
		width: 238px;
		height: auto;
		text-align: center;
	}

	.mail-box {
		width: 290px;
		height: auto;
		text-align: center;
		margin: 0px;
	}

	.skype-box {
		width: 190px;
		height: auto;
		text-align: center;
	}

}

@media screen and (max-width: 728px) {
	
	.footer-facebook {
		display: none;
	}

	.footer-facebook2 {
		display: inline-block;
	}
}

@media screen and (max-width: 540px) {
	.form-title {
		padding-top: 125px;
	}
}


@media screen and (max-width: 360px) {

}

@media screen and (max-width: 320px) {

}















































