/*Header*/

.header-container {
	position: fixed;
	width: 100%;
	height: 75px;
	background-color: rgb(88, 89, 93);
	display: inline-block;

}


.avatar-box {
	position: absolute;
	display: inline-block;
	width: 20%;
	height: 100%;
	padding-left: 50px;

}

img.avatar {
	border: 1px solid white;
	border-radius: 1000px;
	margin: 11px 0px;
}

.avatar {
	margin: 0;
	padding: 0;
	width: 53px;
	height: 53px;

}

.avatar-text {
	margin: 17.5px 0px 17.5px 10px;
	text-transform: uppercase;
	font-family: "Muller-Regular";
	font-size: 14px;
	color: rgb(255, 255, 255);
	position: absolute;
	display: none;
}

.header-menu-box {
	position: absolute;
	display: inline-block;
	text-align: center;
	width: 60%;
	height: 100%;
	left: 20%;
}

.header-menu {
	margin: 0;
    padding: 0px 0px 0px 0px;
	display: inline-block;
}

.header-menu li {
	padding: 0px 15px 0px 15px;
}

.header-menu li {
	margin: 0;
	display: inline-block;
	height: 62px;
}

.header-menu a {
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	color: rgb(42, 42, 44);
	font-size: 10px;
	font-family: "Muller-Regular";
	display: block;
	padding-top: 12px;
	height: 28px;

}

li:hover a {
	color: white;
}

li:hover span {
	color: white;
}
/*Icons on header*/

.icon-home {
	font-size: 25px;
	color: white;
	display: block;
	padding-bottom: 13px;
}

.icon-ui {
	font-size: 25px;
	color: rgb(42, 42, 44);
	display: block;
	padding-bottom: 13px;
}

.icon-web {
	font-size: 25px;
	color: rgb(42, 42, 44);
	display: block;
	padding-bottom: 13px;
}

.icon-frontend {
	font-size: 25px;
	color: rgb(42, 42, 44);
	display: block;	
	padding-bottom: 13px;
}

.icon-logo {
	font-size: 25px;
	color: rgb(42, 42, 44);
	display: block;
	padding-bottom: 13px;
}

.icon-other {
	font-size: 25px;
	color: rgb(42, 42, 44);
	display: block;
	padding-bottom: 13px;
}

.icon-contact {
	font-size: 25px;
	color: rgb(42, 42, 44);
	display: block;
	padding-bottom: 13px;
}

.icon-menu {
	font-size: 25px;
	color: white;
	display: none;
	position: absolute;
	right: 50px;
	padding: 25px 0px 25px 0px;
	position: fixed;
}

.icon-menu-focus {
	font-size: 25px;
	color: white;
	display: block;
	position: absolute;
	right: 50px;
	padding: 25px 0px 25px 0px;
	position: fixed;
}

.icon-other:hover {
	color: white;
}
.icon-contact:hover {
	color: white;
}
.icon-frontend:hover {
	color: white;
}
.icon-home:hover {
	color: white;
}
.icon-logo:hover {
	color: white;
}
.icon-ui:hover {
	color: white;
}
.icon-web:hover {
	color: white;
}


.icon-home a {
	font-family: "Muller-Medium";
	color: white;
}

.current a {
	color: white;
}

.write-me-button-container {
	position: absolute;
	display: inline-block;
	text-align: center;
	width: 20%;
	height: 100%;
	right: 0;
	padding-right: 50px;
}

.write-me-button {
	width: 145px;
	height: 30px;
	margin: 22.5px 0px;
	border-radius: 2px;
	border: 1px solid rgb(255, 255, 255);
	transition: 0.35s;
	position: absolute;
	right: 50px;
	background-color: rgba(0,0,0,0);
}

.write-me {
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	font-family: "Muller-Regular";
	line-height: 30px;
	color: rgb(255, 255, 255);
}

.write-me-button-container .btn-lg {
	padding: 0;
}


/*Forms*/

@media (min-width: 768px) {
	.modal-dialog {
	    width: 600px;
	    margin: 150px auto;
	}
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: rgb(88, 89, 93);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px; 
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
	height: 40px;
}

.modal-footer {
    border-top: none;
    text-align: center;
}

.btn-send {
	border: none;
	border-radius: 2px;
	width: 120px;
	height: 40px;
	background-color: rgb(40, 151, 212);
	color: white;
}

.modal-title {
	color: white;
	font-family: "Muller-Regular";
}

.close {
	color: white;
	text-shadow: none;
	opacity: 1;
	margin-top: 0px;
}

.modal-backdrop.in {
    opacity: .75;
}

textarea.form-control {
    height: 100px;
}

.modal-open .wrapper {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);    
}

.modal-content {
	background-color: rgba(255, 255, 255, 0.9);
}

/* /Forms */

.write-me:hover {
	color: rgb(42, 42, 44);
	text-decoration: none;
}

.write-me-button:hover {
	border-radius: 2px;
	border: 1px solid rgb(255, 255, 255);
	border-color: rgb(255, 255, 255);
	background-color: rgb(255, 255, 255);	
}

.header-download-line {
	width: 100%;
	height: 3px;
	background-color: rgb(42, 42, 44);
    position: fixed;
    transform: translateY(75px);
}

/*Small Screen*/


.fade-menu2 {
	display: block;
	height: 400px;
}

.header-menu-box2 {
    width: 100%;
    position: fixed;
    z-index: 999;
    transform: translateY(75px);
    height: 0;
    background-color: rgb(112, 113, 118);
    overflow: hidden;
    -webkit-transition: height ease-out 0.3s;
     -moz-transition: height ease-out 0.3s;
     -o-transition: height ease-out 0.3s;
     transition: height ease-out 0.3s;
}

.header-menu2 {
    padding: 0;
    display: block;
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
}


.header-menu2 li {
	display: block;
	height: 50px;
	border-bottom: 1px solid rgb(88, 89, 93);
}

.header-menu2 a {
    width: 100%;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: rgb(42, 42, 44);
    font-size: 10px;
    font-family: "Muller-Light";
    display: inline-block;
    padding: 14.5px 110px 14.5px 110px;
}

.write-me-button2 {
	background-color: rgb(88, 89, 93);
}



/*Cover Box*/

.cover-container {
	margin: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	display: inline-block;
	background: url(../img/cover.jpg) no-repeat center center fixed;
	background-size: cover;
}

.cover-bg {
	width: 100%;
	position: fixed;
	z-index: -100;
	left: 0;
    min-height: 700px;
    min-width: 800px;
}

h1 {
	padding-top: 300px;
	margin: 0;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	font-size: 72px;
	font-family: "Muller-Medium";
	letter-spacing: 2px;
}

h2 {
	margin-top: 30px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	font-size: 18px;
	font-family: "Muller-Light";
	letter-spacing: 2px;
}

.resume-button {
	margin-top: 75px;
	margin-bottom: 230px;
	width: 175px;
	height: 40px;
	border-radius: 2px;
	text-align: center;
	display: inline-block;
	background-color: rgb(215, 53, 52);
	transition: 0.35s;
}

.resume {
	margin: 0;
	padding: 12px 16px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	font-size: 14px;
	font-family: "Muller-Regular";
	line-height: 40px;

}

.resume-button:hover {
	background-color: rgb(164, 40, 40);
	text-decoration: none;
}

.resume-button a:hover {
	color: white;
	text-decoration: none;
}

/*About Me*/

.about-me-container {
	background-color: white;
	width: 100%;
	height: 100%;
	text-align: center;
	display: block;
}

.about-me-title {
	padding-top: 75px;
	padding-bottom: 25px;
	display: block;
	text-transform: uppercase;
	color: rgb(42, 42, 44);
	font-size: 26px;
	font-family: "Muller-Medium";
}

.about-me-text {
	padding: 0% 15%;
	display: block;
	color: rgb(42, 42, 44);
	font-size: 16px;
	font-family: "Muller-Light";
	margin-bottom: 75px;
}

.read-more-button {
	margin-top: 75px;
	margin-bottom: 75px;
	width: 157px;
	height: 30px;
	border-radius: 2px;
	border: 1px solid rgb(88, 89, 93);
	text-align: center;
	display: inline-block;
	transition: 0.35s;
}

.read-more {
	padding: 10px 38px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	color: rgb(88, 89, 93);
	font-family: "Muller-Regular";
	line-height: 30px;
}

.read-more:hover {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.read-more-button:hover {
	border: 1px solid rgb(215, 53, 52);
	background-color: rgb(215, 53, 52);
	text-decoration: none;
}

iframe {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 25px;
	margin-bottom: 75px;
}


/*Portfolio Box*/

.my-portfolio-box {
	width: 100%;
	height: 625px;
	display: block;
	background-repeat: no-repeat;
	background-color: rgb(237, 237, 237);
}

.portfolio-preview {
	width: 714px;
	left: 0;
}

.portfolio-preview2 {
	display: none;
	width: 100%;
	padding: 75px 0px 0px 0px;
}

.portfolio-info {
	width: 355px;
	display: inline-block;
	float: right;
	margin-right: 50px;
}

.portfolio-title {
	padding-top: 75px;
	float: right;
	text-align: right;
	display: block;
	text-transform: uppercase;
	color: rgb(42, 42, 44);
	font-size: 26px;
	font-family: "Muller-Medium";
}

.porfolio-text {
	margin-top: 25px;
	float: right;
	text-align: right;
	display: block;
	color: rgb(42, 42, 44);
	font-size: 16px;
	font-family: "Muller-Light";
}

.open-portfolio-button {
	text-align: center;
	float: right;
	margin-top: 75px;
	width: 195px;
	height: 40px;
	border-radius: 2px;
	background-color: rgb(215, 53, 52);
	text-align: center;
	display: inline-block;
	transition: 0.35s;
}

.open-portfolio {
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	color: rgb(255, 255, 255);
	font-family: "Muller-Regular";
	line-height: 40px;
}

.open-portfolio-button:hover {
	background-color: rgb(164, 40, 40);
}

.open-portfolio-button a:hover {
	color: white;
	text-decoration: none;
}

.video-box {
	display: inline-block;
	background-color: white;
	width: 100%;
	height: 100%;
	text-align: center;
}

.video-title {
	padding-top: 75px;
	display: block;
	text-transform: uppercase;
	color: rgb(42, 42, 44);
	font-size: 26px;
	font-family: "Muller-Medium";
}

.video-text {
	margin-top: 25px;
	margin-bottom: 75px;
	display: inline-block;
	color: rgb(42, 42, 44);
	font-size: 16px;
	font-family: "Muller-Light";
	width: 80%;
}

.my-photo {
	display: block;
	text-align: center;
	margin-top: 75px;
}



/*Skill Box*/

.skill-container {
    width: 100%;
    height: 315px;
    text-align: center;
/*    background-color: #ECEDED;*/
    display: inline-block;
}

.skill-text {
	display: inline-block;
	width: 100%;
	text-align: center;
	font-family: "Muller-Medium";
	font-size: 26px;
	color: #9C9E9F;
	padding-top: 40px;
	text-transform: uppercase;
}

.skill-container ul {
	display: inline-block;
	width: 100%;
	border: 0;
}

.skill-container ul li {
	border: 0;
}

.icon-ps {
	font-size: 70px;
	color: #9C9E9F;
	display: inline-block;
	margin-top: 20px;
}

.icon-ai {
	font-size: 70px;
	color: #9C9E9F;
	display: inline-block;
	margin-top: 20px;
}

.icon-sketch {
	font-size: 70px;
	color: #9C9E9F;
	display: inline-block;
	margin-top: 20px;
}

.icon-js {
	font-size: 70px;
	color: #9C9E9F;
	display: inline-block;
	margin-top: 20px;
}

.icon-invision {
	font-size: 70px;
	color: #9C9E9F;
	display: inline-block;
	margin-top: 20px;
}

.icon-html5 {
	font-size: 70px;
	color: #9C9E9F;
	display: inline-block;
	margin-top: 20px;
}

.icon-css3 {
	font-size: 70px;
	color: #9C9E9F;
	display: inline-block;
	margin-top: 20px;
}

.ps-hover:hover .icon-ps {
	color: rgb(88, 89, 93);
}

.ps-hover:hover {
	color: rgb(88, 89, 93);
}

.ai-hover:hover .icon-ai {
	color: rgb(88, 89, 93);
}

.ai-hover:hover {
	color: rgb(88, 89, 93);
}

.sketch-hover:hover .icon-sketch {
	color: rgb(88, 89, 93);
}

.sketch-hover:hover {
	color: rgb(88, 89, 93);
}

.js-hover:hover .icon-js {
	color: rgb(88, 89, 93);
}

.js-hover:hover {
	color: rgb(88, 89, 93);
}

.invision-hover:hover .icon-invision {
	color: rgb(88, 89, 93);
}

.invision-hover:hover {
	color: rgb(88, 89, 93);
}

.html5-hover:hover .icon-html5 {
	color: rgb(88, 89, 93);
}

.html5-hover:hover {
	color: rgb(88, 89, 93);
}

.css3-hover:hover .icon-css3 {
	color: rgb(88, 89, 93);
}

.css3-hover:hover {
	color: rgb(88, 89, 93);
}

.value-container {
	padding-top: 50px;
	margin-bottom: 0;
}

.icon-container {
	padding-top: 20px;
	height: 90px;
	margin-bottom: 0;
}

.value-container li {
	width: 70px;
	font-family: "Muller-Medium";
	font-size: 24px;
	color: #9C9E9F;
	margin: 0px 41.5px;
}

.icon-container li {
	margin: 0px 30px;
}


/*Footer*/

.footer-box {
	text-align: center;
	display: inline-block;
	width: 100%;
	height: 100%;
}

.footer {
	width: 100%;
	height: 65px;
	padding: 0;
	margin: 0;
}

ul, li {
	padding: 0;
	display: inline-block;
}

.footer-tumblr {
	padding: 0;
	margin: 0;
	width: 25%;
	height: 100%;
	background-color: rgb(49, 77, 121);
	float: left;
}

.footer-facebook {
	padding: 0;
	margin: 0;
	width: 25%;
	height: 100%;
	background-color: rgb(40, 151, 212);
	
}

.footer-facebook2 {
	padding: 0;
	margin: 0;
	width: 25%;
	height: 100%;
	background-color: rgb(40, 151, 212);
	display: none;
}

.footer-linkedin {
	padding: 0;
	margin: 0;
	width: 25%;
	height: 100%;
	background-color: rgb(40, 151, 212);
	background-color: rgb(54, 99, 157);
	float: left;
	
}

.footer-instagram {
	padding: 0;
	margin: 0;
	width: 25%;
	height: 100%;
	background-color: rgb(191, 131, 95);
	float: right;
	
}

.social-box {
	display: block;
}

.social-icon {
	height: 65px;
	padding: 15px 0px;
}

a:focus {
	text-decoration: none;
	color: white;
}

a:active {
	text-decoration: none;
	color: white;
}


@media screen and (max-width: 1120px) {
	.header-menu-box {
		display: none; /* скрыть все <li> пункты */
	}

	.write-me-button-container {
		display: none;
	}
	

	.header-menu2 a { /* увеличим размер шрифта меню */
		font-size: 14px;
	}


	.icon-menu { /*покажем иконку меню*/
		display: block;
	}

	.header-menu-box a {
		display: block;
		text-align: left;
	}

	.write-me-button {
		display: none;
	}

	.header-menu-box ul {
		left: auto;
		right: 62.5px;
	    padding: 37.5px 0px 37.5px 0px;
	}

	.header-download-line {
		display: none;
	}

	.header-container {
		height: 75px;
	}


	.fade-menu2 {
		display: block;
		height: 400px;
	}

	.my-portfolio-box {
		height: 100%;
		padding-bottom: 75px;
	}

	.portfolio-preview {
		display: none;
	}

	.portfolio-preview2 {
		display: block;
	}

	.portfolio-info {
		margin: 0;
		width: 100%;
		float: none;
		text-align: center;
	}

	.portfolio-title {
		float: none;
		text-align: center;
	}

	.porfolio-text {
		float: none;
		text-align: center;
   		padding: 0px 50px;
	}

	.open-portfolio-button {
		float: none;
	}

	.skill-container{
		display: none;
	}

}

@media screen and (max-width: 728px) {
	
	.footer-facebook {
		display: none;
	}

	.footer-facebook2 {
		display: inline-block;
	}
}

@media screen and (max-width: 535px) {
	
	.avatar-box {
		width: 80%;
	}

}

@media screen and (max-width: 500px) {

	.icon-menu {
	right: 30px;
	}

	.avatar-box {
		padding-left: 30px;
		width: 80%;
	}

	.avatar-text {

	}

	h1 {
		padding-top: 175px;
		font-size: 44px;
	}

	h2 {
		font-size: 16px;

	}

	.video-text {
		margin-bottom: 40px;
	}

	.my-photo {
		display: block;
		text-align: center;
		margin-top: 50px;
	}

	.resume-button {
		margin-bottom: 150px;
	}

}


@media screen and (max-width: 360px) {

	.avatar-text {
		display: none;
	}

	h1 {
		font-size: 44px;
	}

	h2 {
		font-size: 12px;
	}

}

@media screen and (max-width: 320px) {
	
	h1 {
		font-size: 36px;
	}

}

/*Fonts Embed*/

@font-face {
    font-family: "Muller-Light";
    src: url(../font/Muller-Light.otf);
}

@font-face {
	font-family: "Muller-Regular";
	src: url(../font/Muller-Regular.otf);
}

@font-face {
	font-family: "Muller-Medium";
	src: url(../font/Muller-Medium.otf);
}








































