/* Color palette */

@dark-grey: #424242;
@grey: #9e9e9e;
@light-grey: #e0e0e0;
@lightblue: #62b4f3;
@white: #ffffff;
@white-rgba: rgba(255, 255, 255, 0.6);
@dark-blue: #2c536f;

@fontFamily: 'Lato', sans-serif;

@titleSize: 40px;
@titleWeight: 700;

@textSize: 16px;
@textWeight: 200;

@padding: 40px;

@skillborder: 122px;
@skillSpead: 0.6s;

body {
    color: @white;
}


.title {
	font-family: @fontFamily;
	font-size: @titleSize;
	font-weight: @titleWeight;
	color: @dark-grey;
}

.text-white {
	font-family: @fontFamily;
	font-size: @textSize;
	font-weight: @textWeight;
	color: @white;
}

.text-grey {
	font-family: @fontFamily;
	font-size: @textSize;
	font-weight: @textWeight;
	color: @dark-grey;
}


.header-container {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 999999;
    background-color: transparent;
    
    .logo-box {
        display: inline-block;
        width: 100px;
        height: 80px;
        padding-left: @padding;
        
        .logo {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin: 20px 0px;
            background: url(../img/avatar.png) no-repeat center center;
        }
        
        .logo-text {
            display: inline-block;
            position: absolute;
            padding: 27px 0px 20px 15px;
            width: auto;
            height: 80px;
            .text-white;
            
            .blog-link {
                color: @white * 0.6;
            }
            
            .blog-link:hover {
                color: @lightblue;
            }
        }
    }
    
    nav {
        display: inline-block;
        width: auto;
        height: 80px;
        float: right;
        padding-right: @padding;
        
        li {
            display: inline-block;
            padding-top: 27px;
            padding-left: 30px;
            
            a {
                .text-white
            }
            
            a:hover {
                color: @lightblue;
            }
        }
    }
}

.cover-container {
    display: block;
    width: 100%;
    height: 600px;
    top: 0;
    background: url(../img/cover.png) no-repeat center center;
    background-size: cover;
    text-align: center;
    
    .cover-title {
        display: block;
        padding: 230px 40px 0px 40px;
        font-family: @fontFamily;
        font-size: @titleSize;
        font-weight: @titleWeight;
        color: @white;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    
    .cover-desc {
        display: block;
        padding: 15px 40px 0px 40px;
        .text-white
    }
    
    .linkedin-btn {
        display: block;
        width: 160px;
        height: 40px;
        margin: auto;
        margin-top: 70px;
        border-radius: 40px;
        background-color: @lightblue;
        padding-top: 10px;
        .text-white
    }
    
    .linkedin-btn:hover {
        background-color: @lightblue * 0.8;
    }
}

a:hover {
    text-decoration: none;
}


.dropdown-menu {
    position: absolute;
    top: 80px;
    right: 0;
    z-index: 1000;
    display: none;
    float: right;
    min-width: auto;
    padding: 0;
    margin: 0;
    font-size: @textSize;
    text-align: right;
    list-style: none;
    background-color: transparent;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    
    .caret {
        color: @white;
    }
    
    .drop-item {
        display: block;
        width: auto;
        height: 34px;
        padding: 0px 165px 13px 0px;
        top: 0;
        margin-top: 0;
        
        a {
            padding: 0;
        }
        
        a:hover {
            background-color: transparent;
        }
    }
}

a:focus {
    text-decoration: none;
    color: @lightblue;
}


//.dropdown-portfolio:hover .dropdown-menu {
//    display: block;
//}

.about-me-container {
    display: inline-block;
    width: 100%;
    height: auto;
    padding-top: 120px;
    
    .text-box {
        display: block;
        .about-me-title {
            padding-left: @padding;
            .title
        }
        
        .about-me-text {
            display: inline-block;
            padding-left: @padding;
            padding-top: 30px;
            .text-grey
        }
    }
    
    .video-box {
        display: block;
        padding-left: 120px;
        padding-right: @padding;
        
        iframe {
            display: block;
            width: 100%;
            height: 320px;
            margin-top: 82px;
        }
    }
}


.skills-container {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 240px;
    text-align: center;
    
    .skills-title {
        display: block;
        width: 100%;
        padding: 0 @padding;
        margin: auto;
        .title
    }
    
    li {
        display: inline-block;
        width: 130px;
        height: 130px;
        margin: 105px 15px 240px 15px;
        border-radius: 50%;
        padding: 4px;
        
        @-webkit-keyframes spin {
            from { -webkit-transform: rotate(0deg); }
            to { -webkit-transform: rotate(360deg); }
        }

        @-moz-keyframes spin {
            from { -moz-transform: rotate(0deg); }
            to { -moz-transform: rotate(360deg); }
        }

        @-ms-keyframes spin {
            from { -ms-transform: rotate(0deg); }
            to { -ms-transform: rotate(360deg); }
        }
        
        &.ps {
            background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #27bce9 0%, #151630 100%);
            background-image: -webkit-radial-gradient(45px 45px, circle cover, #27bce9, #151630);
            background-image: radial-gradient(45px 45px 45deg, circle cover, #27bce9 0%, #151630 100%);


            /* webkit chrome, safari, mobile */
            -webkit-animation-name: spin; 
            -webkit-animation-duration: @skillSpead; /* 3 seconds */
            -webkit-animation-iteration-count: 1; 
            -webkit-animation-timing-function: linear;

            /* mozilla ff */
            -moz-animation-name: spin; 
            -moz-animation-duration: @skillSpead; /* 3 seconds */
            -moz-animation-iteration-count: 1; 
            -moz-animation-timing-function: linear;

            /* microsoft ie */
            -ms-animation-name: spin; 
            -ms-animation-duration: @skillSpead; /* 3 seconds */
            -ms-animation-iteration-count: 1; 
            -ms-animation-timing-function: linear;
            
            .test {
                display: block;
                width: @skillborder;
                height: @skillborder;
                background-color: white;
                border-radius: 50%;
            }
        }
        
        &.ai {
            background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #f0761e 0%, #271301 100%);
            background-image: -webkit-radial-gradient(45px 45px, circle cover, #f0761e, #271301);
            background-image: radial-gradient(45px 45px 45deg, circle cover, #f0761e 0%, #271301 100%);


            /* webkit chrome, safari, mobile */
            -webkit-animation-name: spin; 
            -webkit-animation-duration: @skillSpead; /* 3 seconds */
            -webkit-animation-iteration-count: 1; 
            -webkit-animation-timing-function: linear;

            /* mozilla ff */
            -moz-animation-name: spin; 
            -moz-animation-duration: @skillSpead; /* 3 seconds */
            -moz-animation-iteration-count: 1; 
            -moz-animation-timing-function: linear;

            /* microsoft ie */
            -ms-animation-name: spin; 
            -ms-animation-duration: @skillSpead; /* 3 seconds */
            -ms-animation-iteration-count: 1; 
            -ms-animation-timing-function: linear;
            
            .test {
                display: block;
                width: @skillborder;
                height: @skillborder;
                background-color: white;
                border-radius: 50%;
            }
        }
        
        &.sketch {
            background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #fdd36a 0%, #ec6a11 100%);
            background-image: -webkit-radial-gradient(45px 45px, circle cover, #fdd36a, #ec6a11);
            background-image: radial-gradient(45px 45px 45deg, circle cover, #fdd36a 0%, #ec6a11 100%);


            /* webkit chrome, safari, mobile */
            -webkit-animation-name: spin; 
            -webkit-animation-duration: @skillSpead; /* 3 seconds */
            -webkit-animation-iteration-count: 1; 
            -webkit-animation-timing-function: linear;

            /* mozilla ff */
            -moz-animation-name: spin; 
            -moz-animation-duration: @skillSpead; /* 3 seconds */
            -moz-animation-iteration-count: 1; 
            -moz-animation-timing-function: linear;

            /* microsoft ie */
            -ms-animation-name: spin; 
            -ms-animation-duration: @skillSpead; /* 3 seconds */
            -ms-animation-iteration-count: 1; 
            -ms-animation-timing-function: linear;
            
            .test {
                display: block;
                width: @skillborder;
                height: @skillborder;
                background-color: white;
                border-radius: 50%;
            }
        }
        
        &.invision {
            background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #dc395f 0%, #27070f 100%);
            background-image: -webkit-radial-gradient(45px 45px, circle cover, #dc395f, #27070f);
            background-image: radial-gradient(45px 45px 45deg, circle cover, #dc395f 0%, #27070f 100%);


            /* webkit chrome, safari, mobile */
            -webkit-animation-name: spin; 
            -webkit-animation-duration: @skillSpead; /* 3 seconds */
            -webkit-animation-iteration-count: 1; 
            -webkit-animation-timing-function: linear;

            /* mozilla ff */
            -moz-animation-name: spin; 
            -moz-animation-duration: @skillSpead; /* 3 seconds */
            -moz-animation-iteration-count: 1; 
            -moz-animation-timing-function: linear;

            /* microsoft ie */
            -ms-animation-name: spin; 
            -ms-animation-duration: @skillSpead; /* 3 seconds */
            -ms-animation-iteration-count: 1; 
            -ms-animation-timing-function: linear;
            
            .test {
                display: block;
                width: @skillborder;
                height: @skillborder;
                background-color: white;
                border-radius: 50%;
            }
        }
        
        &.html5 {
            background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #f3652f 0%, #722f16 100%);
            background-image: -webkit-radial-gradient(45px 45px, circle cover, #f3652f, #722f16);
            background-image: radial-gradient(45px 45px 45deg, circle cover, #f3652f 0%, #722f16 100%);


            /* webkit chrome, safari, mobile */
            -webkit-animation-name: spin; 
            -webkit-animation-duration: @skillSpead; /* 3 seconds */
            -webkit-animation-iteration-count: 1; 
            -webkit-animation-timing-function: linear;

            /* mozilla ff */
            -moz-animation-name: spin; 
            -moz-animation-duration: @skillSpead; /* 3 seconds */
            -moz-animation-iteration-count: 1; 
            -moz-animation-timing-function: linear;

            /* microsoft ie */
            -ms-animation-name: spin; 
            -ms-animation-duration: @skillSpead; /* 3 seconds */
            -ms-animation-iteration-count: 1; 
            -ms-animation-timing-function: linear;
            
            .test {
                display: block;
                width: @skillborder;
                height: @skillborder;
                background-color: white;
                border-radius: 50%;
            }
        }
        
        &.css3 {
            background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #62b4f3 0%, #2e5572 100%);
            background-image: -webkit-radial-gradient(45px 45px, circle cover, #62b4f3, #2e5572);
            background-image: radial-gradient(45px 45px 45deg, circle cover, #62b4f3 0%, #2e5572 100%);


            /* webkit chrome, safari, mobile */
            -webkit-animation-name: spin; 
            -webkit-animation-duration: @skillSpead; /* 3 seconds */
            -webkit-animation-iteration-count: 1; 
            -webkit-animation-timing-function: linear;

            /* mozilla ff */
            -moz-animation-name: spin; 
            -moz-animation-duration: @skillSpead; /* 3 seconds */
            -moz-animation-iteration-count: 1; 
            -moz-animation-timing-function: linear;

            /* microsoft ie */
            -ms-animation-name: spin; 
            -ms-animation-duration: @skillSpead; /* 3 seconds */
            -ms-animation-iteration-count: 1; 
            -ms-animation-timing-function: linear;
            
            .test {
                display: block;
                width: @skillborder;
                height: @skillborder;
                background-color: white;
                border-radius: 50%;
            }
        }
        
        &.js {
            background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #fcdf6b 0%, #7d6e35 100%);
            background-image: -webkit-radial-gradient(45px 45px, circle cover, #fcdf6b, #7d6e35);
            background-image: radial-gradient(45px 45px 45deg, circle cover, #fcdf6b 0%, #7d6e35 100%);


            /* webkit chrome, safari, mobile */
            -webkit-animation-name: spin; 
            -webkit-animation-duration: @skillSpead; /* 3 seconds */
            -webkit-animation-iteration-count: 1; 
            -webkit-animation-timing-function: linear;

            /* mozilla ff */
            -moz-animation-name: spin; 
            -moz-animation-duration: @skillSpead; /* 3 seconds */
            -moz-animation-iteration-count: 1; 
            -moz-animation-timing-function: linear;

            /* microsoft ie */
            -ms-animation-name: spin; 
            -ms-animation-duration: @skillSpead; /* 3 seconds */
            -ms-animation-iteration-count: 1; 
            -ms-animation-timing-function: linear;
            
            .test {
                display: block;
                width: @skillborder;
                height: @skillborder;
                background-color: white;
                border-radius: 50%;
            }
        }
    }
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: inherit;
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

