@font-family: 'Open Sans', sans-serif;

@accent-color: #039BE5;
@dark-accent-color: #0277BD;
@light-accent-color: #4FC3F7;

@dark-grey: #212121;
@grey: #757575;
@light-grey: #E0E0E0;

@secondary-color: #ffffff;
    
.screen-title {
    font-family: @font-family;
    font-weight: 400;
    font-size: 16px;
    color: @dark-grey;
    letter-spacing: 3px;
}

.post-title {
    font-family: @font-family;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-transform: uppercase;
    color: @dark-grey;
    letter-spacing: 3px;   
}

.main-text {
    font-family: @font-family;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: @dark-grey;
    letter-spacing: 0px;
}

.secondary-text {
    font-family: @font-family;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: @grey;
    letter-spacing: 0px;
}

.active-btn {
    width: auto;
    height: 48px;
    background-color: @accent-color;
    border-radius: 48px;
    padding: 16px 32px;
    font-family: @font-family;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: @secondary-color;
}

.active-btn:hover {
    background-color: @dark-accent-color;
}

.outline-btn {
    width: auto;
    height: 48px;
    background-color: transparent;
    border-radius: 48px;
    border: 2px solid @accent-color;
    padding: 16px 32px;
    font-family: @font-family;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: @secondary-color;
}

.outline-btn:hover {
    background-color: @accent-color;
}

.slider-item {
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: 2px solid @dark-grey;
    border-radius: 12px;
    display: block;
    margin: 16px auto;
}

.current-slider-item {
    width: 12px;
    height: 12px;
    background-color: @dark-grey;
    border: 2px solid @dark-grey;
    border-radius: 12px;
    display: block;
    margin: 16px auto;
}

.show-it {
    opacity: 1;
}

.hide-it {
    opacity: 0;
}







//html {
//    height: 100%;
//}
//
//body {
//    height: 100%;
//}

.header {
    display: block;
    position: fixed;
    width: 100%;
    height: 56px;
    background-color: @secondary-color;
    padding: 22px 0px 18px 56px;
    z-index: 11;
    
    .icon {
        display: inline-block;
        float: right;
        margin-right: 20px;
        transform: translateY(-2px);
        width: 20px;
        height: 20px;
        background-color: @light-grey;
    }
}

.slider-container {
    display: inline-block;
    position: absolute;
    width: 56px;
    height: 100%;
    background-color: @secondary-color;
    padding-top: 20%;
    z-index: 10;
}

.social-container {
    display: inline-block;
    position: fixed;
    right: 0;
    width: 56px;
    height: 100%;
    background-color: @secondary-color;
    padding-top: 20%;
    z-index: 10;
    
    .icon {
        display: block;
        margin: 24px auto 0px auto;
        width: 20px;
        height: 20px;
        background-color: @light-grey;
    }
}

.footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 56px;
    background-color: @secondary-color;
    padding: 22px 0px 18px 56px;
    text-align: center;
    z-index: 10;
    
    .scroll-down {
        opacity: 0;
    }
}

.content-wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 56px;
    padding-right: 56px;
    z-index: 9;
    
    .info-box {
        display: inline-block;
        width: 37%;
        height: 100%;
        padding: 268px 32px 32px 32px;
        z-index: 2;
        
        .post-title {
            display: block;
            position: absolute;
            z-index: 5;
            opacity: 0;
        }
        
        .main-text {
            display: block;
            padding-top: 208px;
            opacity: 0;
        }
        
        .active-btn {
            display: inline-block;
            margin-top: 32px;
            opacity: 0;
        }
    }
    
    .graphic-content-box {
        display: inline-block;
        position: absolute;
        width: 63%;
        height: 100%;
        background: url(../img/big-part.png) center center no-repeat;
        background-size: cover;
        z-index: 1;
        opacity: 0;
    }
}












