body {
	background-color: rgb(237, 237, 237);
}

/*Icons on header*/

.icon-home {
	font-size: 25px;
	color: rgb(42, 42, 44);
	display: block;
	padding-bottom: 13px;
}

.icon-ui {
	font-size: 25px;
	color: rgb(42, 42, 44);
	display: block;
	padding-bottom: 13px;
}

.icon-web {
	font-size: 25px;
	color: rgb(215, 53, 52);
	display: block;
	padding-bottom: 13px;
}

.icon-frontend {
	font-size: 25px;
	color: rgb(42, 42, 44);
	display: block;	
	padding-bottom: 13px;
}

.icon-logo {
	font-size: 25px;
	color: rgb(42, 42, 44);
	display: block;
	padding-bottom: 13px;
}

.icon-other {
	font-size: 25px;
	color: rgb(42, 42, 44);
	display: block;
	padding-bottom: 13px;
}

.icon-contact {
	font-size: 25px;
	color: rgb(42, 42, 44);
	display: block;
	padding-bottom: 13px;
}

/*Portfolio*/

#carousel-example-generic {
	width: 100%;
}

.carousel-inner {
	height: 100%;
}

.item {
	width: 100%;
	text-align: center;
}

.my-slider01 {
	display: block;
	width: 100%;
	height: auto;
	padding-bottom: 115px;
}

.item-title {
	padding-top: 78px;
	padding-left: 15%;
	padding-right: 15%;
	display: block;
	color: rgb(42, 42, 44);
	font-size: 26px;
	font-family: "Muller-Medium";
}

.item-dsc {
	padding: 0% 15%;
	padding-top: 15px;
	display: block;
	color: rgb(112, 113, 118);
	font-size: 16px;
	font-family: "Muller-Regular";
}

.my-slider02 {
	display: block;
	width: 100%;
	height: auto;
	padding-bottom: 115px;
}

.my-slider03 {
	display: block;
	width: 100%;
	height: auto;
	padding-bottom: 115px;
}

.my-slider04 {
	display: block;
	width: 100%;
	height: auto;
	padding-bottom: 115px;
}


.item img {
	text-align: center;
}

.carousel {
	padding-top: 78px;
	background: rgb(255, 255, 255, 0);
	position: absolute;
	height: auto;
}

.carousel-control.left {
    background-image: linear-gradient(to left, transparent 0px, rgba(0, 0, 0, 0.2) 100%);
}

.carousel-control.right {
    background-image: linear-gradient(to right, transparent 0px, rgba(0, 0, 0, 0.2) 100%);
}

.carousel-control {
	width: 12%;
}

.item01 {
    width: 900px;
    padding-top: 25px;
}

.item-button {
	margin: 75px auto 0;
	width: 175px;
	height: 40px;
	border-radius: 2px;
	text-align: center;
	display: block;
	background-color: rgb(215, 53, 52);
	transition: 0.35s;
}

.item-button-text {
	margin: 0;
	padding: 12px 32px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	font-size: 14px;
	font-family: "Muller-Regular";
	line-height: 40px;

}

.item-button:hover {
	background-color: rgb(164, 40, 40);
	text-decoration: none;
}

.item-button a:hover {
	color: white;
	text-decoration: none;
}


@media screen and (max-width: 1120px) {

}

@media screen and (max-width: 900px) {

	.item01 {
	width: 100%;
	}

	.item-button {
		margin-bottom: 125px;
	}

	.carousel {
		height: auto;
	}

	.my-slider01, .my-slider02, .my-slider03, .my-slider04 {
		height: auto;
		padding-bottom: 0;
	}

}

@media screen and (max-width: 540px) {

}


@media screen and (max-width: 360px) {

}










































