/*Icons on header*/

.icon-home {
	font-size: 25px;
	color: rgb(215, 53, 52);
	display: block;
	padding-bottom: 13px;
}

.icon-ui {
	font-size: 25px;
	color: rgb(42, 42, 44);
	display: block;
	padding-bottom: 13px;
}

.icon-web {
	font-size: 25px;
	color: rgb(42, 42, 44);
	display: block;
	padding-bottom: 13px;
}

.icon-frontend {
	font-size: 25px;
	color: rgb(42, 42, 44);
	display: block;	
	padding-bottom: 13px;
}

.icon-logo {
	font-size: 25px;
	color: rgb(42, 42, 44);
	display: block;
	padding-bottom: 13px;
}

.icon-other {
	font-size: 25px;
	color: rgb(42, 42, 44);
	display: block;
	padding-bottom: 13px;
}

.icon-contact {
	font-size: 25px;
	color: rgb(42, 42, 44);
	display: block;
	padding-bottom: 13px;
}

/*Cover Box*/

.cover-container {
	margin: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	display: inline-block;
	background: url(../img/cover.jpg) no-repeat center center fixed;
	background-size: cover;
}

.cover-bg {
	width: 100%;
	position: fixed;
	z-index: -100;
	left: 0;
    min-height: 700px;
    min-width: 800px;
}

h1 {
	padding-top: 300px;
	margin: 0;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	font-size: 72px;
	font-family: "Muller-Medium";
	letter-spacing: 2px;
}

h2 {
	margin-top: 30px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	font-size: 18px;
	font-family: "Muller-Light";
	letter-spacing: 2px;
}

.resume-button {
	margin-top: 75px;
	margin-bottom: 230px;
	width: 175px;
	height: 40px;
	border-radius: 2px;
	text-align: center;
	display: inline-block;
	background-color: rgb(215, 53, 52);
	transition: 0.35s;
}

.resume {
	margin: 0;
	padding: 12px 16px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	font-size: 14px;
	font-family: "Muller-Regular";
	line-height: 42px;
	letter-spacing: 1px;

}

.resume-button:hover {
	background-color: rgb(164, 40, 40);
	text-decoration: none;
}

.resume-button a:hover {
	color: white;
	text-decoration: none;
}

/*About Me*/

.about-me-container {
	background-color: white;
	width: 100%;
	height: 100%;
	text-align: center;
	display: block;
}

.about-me-title {
	padding-top: 75px;
	padding-bottom: 25px;
	display: block;
	text-transform: uppercase;
	color: rgb(42, 42, 44);
	font-size: 26px;
	font-family: "Muller-Medium";
}

.about-me-text {
	padding: 0% 15%;
	display: block;
	color: rgb(42, 42, 44);
	font-size: 16px;
	font-family: "Muller-Light";
	margin-bottom: 75px;
}

.read-more-button {
	margin-top: 75px;
	margin-bottom: 75px;
	width: 157px;
	height: 30px;
	border-radius: 2px;
	border: 1px solid rgb(88, 89, 93);
	text-align: center;
	display: inline-block;
	transition: 0.35s;
}

.read-more {
	padding: 10px 38px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	color: rgb(88, 89, 93);
	font-family: "Muller-Regular";
	line-height: 30px;
}

.read-more:hover {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.read-more-button:hover {
	border: 1px solid rgb(215, 53, 52);
	background-color: rgb(215, 53, 52);
	text-decoration: none;
}

iframe {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 25px;
	margin-bottom: 75px;
}


/*Portfolio Box*/

.my-portfolio-box {
	width: 100%;
	height: 625px;
	display: block;
	background-repeat: no-repeat;
	background-color: rgb(237, 237, 237);
}

.portfolio-preview {
	width: 714px;
	left: 0;
}

.portfolio-preview2 {
	display: none;
	width: 100%;
	padding: 75px 0px 0px 0px;
}

.portfolio-info {
	width: 355px;
	display: inline-block;
	float: right;
	margin-right: 15%;
}

.portfolio-title {
	padding-top: 75px;
	float: right;
	text-align: right;
	display: block;
	text-transform: uppercase;
	color: rgb(42, 42, 44);
	font-size: 26px;
	font-family: "Muller-Medium";
}

.porfolio-text {
	margin-top: 25px;
	float: right;
	text-align: right;
	display: block;
	color: rgb(42, 42, 44);
	font-size: 16px;
	font-family: "Muller-Light";
}

.open-portfolio-button {
	text-align: center;
	float: right;
	margin-top: 75px;
	width: 195px;
	height: 40px;
	border-radius: 2px;
	background-color: rgb(215, 53, 52);
	text-align: center;
	display: inline-block;
	transition: 0.35s;
}

.open-portfolio {
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	color: rgb(255, 255, 255);
	font-family: "Muller-Regular";
	line-height: 42px;
	letter-spacing: 1px;
	padding: 12px 24px;
}

.open-portfolio-button:hover {
	background-color: rgb(164, 40, 40);
}

.open-portfolio-button a:hover {
	color: white;
	text-decoration: none;
}

.video-box {
	display: inline-block;
	background-color: white;
	width: 100%;
	height: 100%;
	text-align: center;
}

.video-title {
	padding-top: 75px;
	display: block;
	text-transform: uppercase;
	color: rgb(42, 42, 44);
	font-size: 26px;
	font-family: "Muller-Medium";
}

.video-text {
	margin-top: 25px;
	margin-bottom: 75px;
	display: inline-block;
	color: rgb(42, 42, 44);
	font-size: 16px;
	font-family: "Muller-Light";
	width: 80%;
}

.my-photo {
	display: block;
	text-align: center;
	margin-top: 75px;
}



/*Skill Box*/

.skill-container {
    width: 100%;
    height: 315px;
    text-align: center;
/*    background-color: #ECEDED;*/
    display: inline-block;
}

.skill-text {
	display: inline-block;
	width: 100%;
	text-align: center;
	font-family: "Muller-Medium";
	font-size: 26px;
	color: #9C9E9F;
	padding-top: 40px;
	text-transform: uppercase;
}

.skill-container ul {
	display: inline-block;
	width: 100%;
	border: 0;
}

.skill-container ul li {
	border: 0;
	transition-duration: 0.3s;
}

.icon-ps {
	font-size: 70px;
	color: #9C9E9F;
	display: inline-block;
	margin-top: 20px;
	transition-duration: 0.3s;
}

.icon-ai {
	font-size: 70px;
	color: #9C9E9F;
	display: inline-block;
	margin-top: 20px;
	transition-duration: 0.3s;
}

.icon-sketch {
	font-size: 70px;
	color: #9C9E9F;
	display: inline-block;
	margin-top: 20px;
	transition-duration: 0.3s;
}

.icon-js {
	font-size: 70px;
	color: #9C9E9F;
	display: inline-block;
	margin-top: 20px;
	transition-duration: 0.3s;
}

.icon-invision {
	font-size: 70px;
	color: #9C9E9F;
	display: inline-block;
	margin-top: 20px;
	transition-duration: 0.3s;
}

.icon-html5 {
	font-size: 70px;
	color: #9C9E9F;
	display: inline-block;
	margin-top: 20px;
	transition-duration: 0.3s;
}

.icon-css3 {
	font-size: 70px;
	color: #9C9E9F;
	display: inline-block;
	margin-top: 20px;
	transition-duration: 0.3s;
}

.ps-hover:hover .icon-ps {
	color: rgb(88, 89, 93);
}

.ps-hover:hover {
	color: rgb(88, 89, 93);
}

.ai-hover:hover .icon-ai {
	color: rgb(88, 89, 93);
}

.ai-hover:hover {
	color: rgb(88, 89, 93);
}

.sketch-hover:hover .icon-sketch {
	color: rgb(88, 89, 93);
}

.sketch-hover:hover {
	color: rgb(88, 89, 93);
}

.js-hover:hover .icon-js {
	color: rgb(88, 89, 93);
}

.js-hover:hover {
	color: rgb(88, 89, 93);
}

.invision-hover:hover .icon-invision {
	color: rgb(88, 89, 93);
}

.invision-hover:hover {
	color: rgb(88, 89, 93);
}

.html5-hover:hover .icon-html5 {
	color: rgb(88, 89, 93);
}

.html5-hover:hover {
	color: rgb(88, 89, 93);
}

.css3-hover:hover .icon-css3 {
	color: rgb(88, 89, 93);
}

.css3-hover:hover {
	color: rgb(88, 89, 93);
}

.value-container {
	padding-top: 50px;
	margin-bottom: 0;
}

.icon-container {
	padding-top: 20px;
	height: 90px;
	margin-bottom: 0;
}

.value-container li {
	width: 70px;
	font-family: "Muller-Medium";
	font-size: 24px;
	color: #9C9E9F;
	margin: 0px 41.5px;
}

.icon-container li {
	margin: 0px 30px;
}


/*Footer*/

.footer-box {
	text-align: center;
	display: inline-block;
	width: 100%;
	height: 100%;
}

.footer {
	width: 100%;
	height: 65px;
	padding: 0;
	margin: 0;
}

ul, li {
	padding: 0;
	display: inline-block;
}

.footer-tumblr {
	padding: 0;
	margin: 0;
	width: 25%;
	height: 100%;
	background-color: rgb(49, 77, 121);
	float: left;
}

.footer-facebook {
	padding: 0;
	margin: 0;
	width: 25%;
	height: 100%;
	background-color: rgb(40, 151, 212);
	
}

.footer-facebook2 {
	padding: 0;
	margin: 0;
	width: 25%;
	height: 100%;
	background-color: rgb(40, 151, 212);
	display: none;
}

.footer-linkedin {
	padding: 0;
	margin: 0;
	width: 25%;
	height: 100%;
	background-color: rgb(40, 151, 212);
	background-color: rgb(54, 99, 157);
	float: left;
	
}

.footer-instagram {
	padding: 0;
	margin: 0;
	width: 25%;
	height: 100%;
	background-color: rgb(191, 131, 95);
	float: right;
	
}

.social-box {
	display: block;
}

.social-icon {
	height: 65px;
	padding: 15px 0px;
}

a:focus {
	text-decoration: none;
	color: white;
}

a:active {
	text-decoration: none;
	color: white;
}


@media screen and (max-width: 1260px) {

	.my-portfolio-box {
		height: 100%;
		padding-bottom: 75px;
	}

	.portfolio-preview {
		display: none;
	}

	.portfolio-preview2 {
		display: block;
	}

	.portfolio-info {
		margin: 0;
		width: 100%;
		float: none;
		text-align: center;
	}

	.portfolio-title {
		float: none;
		text-align: center;
	}

	.porfolio-text {
		float: none;
		text-align: center;
   		padding: 0px 50px;
	}

	.open-portfolio-button {
		float: none;
	}

}

@media screen and (max-width: 1120px) {
	
	.skill-container{
		display: none;
	}
}

@media screen and (max-width: 728px) {
	
	.footer-facebook {
		display: none;
	}

	.footer-facebook2 {
		display: inline-block;
	}
}

@media screen and (max-width: 500px) {

	h1 {
		padding-top: 175px;
		font-size: 44px;
	}

	h2 {
		font-size: 16px;

	}

	.resume-button {
		margin-bottom: 150px;
	}

}


@media screen and (max-width: 360px) {

	h1 {
		font-size: 44px;
	}

	h2 {
		font-size: 12px;
	}

}

@media screen and (max-width: 320px) {
	
	h1 {
		font-size: 36px;
	}

}








































